*pdf
*~
*pyc
*old*
out*
*yml
*yaml
transp.**yaml
*.png
*.pickle
*.h5
.ipynb_checkpoints/
*.tq
*.bin
*.log
*.svg
*.qasm
*.quil
.bash_history
.cache/
.ipython/
.qiskit/
.jupyter/
.python_history
.qcs/
.viminfo
.ssh
.DS_Store
.zip
.gz
__pycache__
*.csv
*.out
.vim
.wget*
.config
*.json
.lesshst
.local
*.tar
*.pkl
*.npy
